$accentColor = #2e0056
$textColor = #ffffff
// $textColor = red
// $borderColor = red
// $codeBgColor = red
// $arrowBgColor = red
// $badgeTipColor = red
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = red